body {
    --bg: #FFFCF4;
}
/* Common Selectors */
    .content-margin {max-width: 1170px; padding: 0 36px; margin-left: auto;margin-right: auto; width: calc(100% - 72px);}

    .button {border-radius: 24.5px; font-size: 1.6rem; font-weight: 600; color: var(--color-3); display: inline-flex; align-items: center; text-align: center; background: var(--color-2); transition: .3s;}
    .button:hover{background: var(--color-1); box-shadow: 0 4px 20px rgba(0 0 0 / 0.2);}

    /* Button3 - Button for navigation L-R */
    .button3 {width: 40px;height: 40px;border-radius: 50%; border: 1px solid var(--color-1); display: flex;align-items: center;justify-content: center; transition: .3s;}
    .button3:hover {background: var(--color-1);} .button3:hover i{color: var(--color-3);}

    /* scroll */
    .scroll {display: flex; align-items: center; gap: 6px; width: 100%; justify-content: flex-start; --unselected: #5F5B53;}
    .scroll .tab {width: 6px;height: 6px;border-radius: 50%; background: var(--unselected);}
    .scroll .tab[selected="true"] {background: var(--color-1);}

    /* cardlist */
    .card-list {display: flex; align-items: center;gap: 30px; flex-wrap: wrap;}
        .card-list .card, .card-list img, .card-list .desc {transition: .3s;}
        .card-list .card {width: 370px; height: 486px; border-radius: 12px; overflow: hidden; position: relative;}
            /* Card's item - img */
            .card img {width: 100%; height: 100%; object-fit: cover; position: absolute;top: 0;left: 0;}
            /* Card's item - meta objects */
            .card .desc {width: 100%; box-sizing: border-box; position: absolute; bottom: 0;left: 0; background: var(--color-3); padding: 16px 22px 22px;}
            .card .desc {border: 1px solid #E2DFDA; border-bottom-right-radius: 12px;border-bottom-left-radius: 12px; border-top: 0;}
            .card .desc .button {padding: 12px 24px;}
            .card .desc p {font-size: 1.4rem; line-height: 1.8; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: auto; margin: 6px 0 12px;}

        .card-list .card:hover {box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);}
        .card-list .card:hover img {transform: scale(1.3); filter: brightness(0.7);}
        .card-list .card:hover > .desc {border-color: transparent;}
        
/* Headers */
    h1, h2, h3 {margin: 0;padding: 0;}
    h1, h2, h3 { color: var(--color-2);font-weight: 700;}
    h1, h2 {font-family: 'Sen', sans-serif;}
    h1 {font-size: 5.8rem;line-height: 1.17;}
    h2 {font-size: 3.8rem;line-height: 1.2;}
    h3 {font-family: 'Poppins', sans-serif; font-size: 1.8rem;font-weight: 600;line-height: 1.5;}
    p {margin: 0; line-height: 1.75;}
/* other */
    i {color: var(--color-1);}

/* Selectors */
    /* Header */
    .bar, header .wrapper {background: var(--bg);}
    .bar {display: flex; position: sticky; top: -16px; padding-top: 16px; z-index: 100; }
    header .wrapper {padding: 20px 0; display: flex;align-items: center;}
        /* logo brand */
        .logo {background: url(./assets/img/logo/logo.svg) center / contain no-repeat; width: 85px;height: 35px; margin-right: auto; flex-shrink: 0;}
        /* nav list */
        .nav-list, .nav-list ul {display: flex;}
        .nav-list ul {gap: 42px;}
        .nav-list ul li {display: flex; align-items: center; }

        .nav-list ul li a {display: inline-block; position: relative;}
        .nav-list ul li a, .nav-list ul li a::after {transition: .3s;}
        .nav-list ul li a::after {content: ''; display: block; position: absolute; bottom: -6px;background: var(--color-2); border-radius: 1px; width: 12px;height: 2px; opacity: 0;}
        .nav-list ul li:hover a{font-weight: 600; color: var(--color-2); }
        .nav-list ul li:hover a::after {opacity: 1;width: 100%;}
        /* cta */
        header .wrapper .cta-button {margin-left: 70px; padding: 10px 40px; }

    /* Hero container */
    main .hero {width: 100%; background: var(--bg); display: flex; min-height: 630px;max-height: 950px; height: calc(100vh - 96px);}
    main .hero .wrapper {display: flex; align-items: center; gap: 130px;}
        /* Image content */
        .mixed-image {max-height: 680px; width: 50%; height: 85%; display: flex; align-items: center;}
            .mixed-image .img {background: url(./assets/img/landing/hero/guy.gif) center / contain no-repeat; height: 100%;aspect-ratio: 470 / 685; border-radius: 20px; position: relative;}
            .mixed-image .content {width: 220px; display: flex; flex-direction: column; gap: 14px; position: absolute; bottom: 48px;right: -100px; box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05); border-radius: 12px; background: var(--color-3); padding: 24px;} 
            .mixed-image .content .course {display: flex; gap: 16px; align-items: center; --bgi: #FFF9E8;}
                .mixed-image .course .icon {width: 48px;height: 48px; border-radius: 50%; background: var(--bgi); display: flex;align-items: center;justify-content: center;}
                .mixed-image .icon i {width: 24px;height: 24px;}
                .mixed-image .course:nth-of-type(1) i {background: url(./assets/img/landing/icons/uiux.svg);}
                .mixed-image .course:nth-of-type(2) i {background: url(./assets/img/landing/icons/code.svg);}
                .mixed-image .course:nth-of-type(3) i {background: url(./assets/img/landing/icons/speaker.svg);}
                .mixed-image p {margin: 6px 0;}
                .mixed-image .text1 {font-size: 1.4rem;}
                .mixed-image .text2 {font-size: 1.8rem;font-weight: 600; color: var(--color-2);}

        .content {width: 50%;}
            .content h1 {letter-spacing: -1.16px;}
            .content p {font-size: 1.8rem; line-height: 1.6;}

            .content .cta-wrapper {display: flex;align-items: center;gap: 28px; margin: 38px 0 48px;}
                .cta-wrapper > a.cta-button {padding: 17px 34px; display: inline-flex; align-items: center; text-align: center;}
                .content a.watch-video {display: flex; align-items: center; gap: 14px;}

                    .watch-video div {display: flex;align-items: center;justify-content: center; width: 40px;height: 40px; background: var(--color-3); border-radius: 50%; transition: .3s;box-shadow: 0 4px 20px rgba(0 0 0 / 0.2);}
                    .watch-video:hover div {box-shadow: 0 4px 5px rgba(0 0 0 / 0.2);}
                    .watch-video span {color: var(--color-2); font-weight: 600; font-size: 1.8rem;}

            .static p {font-size: 1.8rem;}
            .content .static {display: flex; flex-wrap: wrap; gap: 28px; align-items: center;}
                .static .item span:first-child {font-size: 4.4rem; font-weight: 700;font-family: 'Sen', sans-serif; color: var(--color-2);}
            /*  */
    /* Course container */
    main>.course {display: flex;padding: 200px 0;}
    .course .wrapper {display: flex; flex-direction: column; gap: 55px;}
        /* main.course >> section 1 */
        main>.course .section1 {display: flex;align-items: center;width: 100%;}
            .section1 .texts {display: flex; flex-direction: column;gap: 16px; max-width: 500px; width: 40%;}
            .section1 .texts>p {font-size: 1.8rem;line-height: 2;}
            .section1 .navigation {display: flex;gap: 18px;align-items: center; margin-left: auto;}

        /* main course */
        .desc .section1, .desc .section2 {display: flex; align-items: center;}
            /* desc section1 */
            .card .desc .section1 .rating {display: flex;gap: 6px; margin-left: auto; align-items: center;}
                .rating .star {width: 18px;height: 18px;background: url(./assets/img/landing/icons/star.svg) center / contain no-repeat;}
                .rating .rating-number {color: #FEA31B;}
            /* desc section2 */
            .card .desc .section2 .book{margin-left: auto;}
            .card .desc .section2 .price{font-size: 1.8rem;font-weight: 600;line-height: 1.5; color: var(--color-2);}

    /* Testimonial */
    main .testimonial {display: flex;align-items: center; background: #2E2100;padding: 96px 0;}
        .testimonial .wrapper {display: flex;align-items: center; justify-content: space-between;}
            /* user's review */
            .testimonial .section1.user {width: 30%;}
            .user img {width: 72px;height: 72px;border-radius: 50%; object-fit: cover;}
            .user .username {color: #F7F7F7; font-family: Sen, sans-serif; margin-top: 18px; margin-bottom: 4px;}
            .user .post {color: #BFBCB2; font-size: 1.4rem;}
            .user .scroll {margin-top: 28px}
            /* user's quote */
            .testimonial .section2 {width: 70%;}
            .testimonial .section2 p {color: var(--color-3); font-size: 2.6rem;line-height: 1.6;font-style: italic; position: relative;}
            .testimonial .section2 p:before {content: ''; display: block; position: absolute; top: -28px;left: -30px;width: 28px;height: 30px; background: url(./assets/img/landing/icons/quote.svg) center / cover no-repeat;}
    /* 
        dialog-container Container 
        :: NOTE :: This is for both .features and .cta control in general
    */
    main .dialog-container {margin: 200px 0; }
        .dialog-container .wrapper {display: flex;align-items: center;gap: 130px;}
        .dialog-container .wrapper > * {flex: 1;}
            /* dialog-container > Img list */
            .dialog-container .section1 {display: flex;align-items: center; gap: 30px;}
                /* Img flash card */
                .dialog-container .section1 img {width: 50%; aspect-ratio: 5 / 8; object-fit: cover; border-radius: 16px; transition: .3s;}
                .dialog-container .section1 img:first-child {margin-top: 34px;} 
                .dialog-container .section1 img:last-child {margin-bottom: 33px;} 

                .dialog-container .section1 img:first-child:hover {transform: rotateY(20deg) skewY(20deg)}
                .dialog-container .section1 img:last-child:hover {transform: rotateY(-20deg) skewY(-20deg)}
            /* dialog-container > Texts */
            .dialog-container .section2 {display: block;}
            .dialog-container .section2 > * {margin-bottom: 16px;}
            .dialog-container .section2 .cta-button {margin-top: 16px;padding: 11px 37px;display: inline-flex; align-items: center; text-align: center; border-radius: 26px;}
    /* dialog-container / cta's modification */
        .dialog-container.cta .wrapper {justify-content: space-between;}
        .dialog-container.cta .wrapper > * {flex: 1;}
        .dialog-container.cta .section1{order: 2; flex-basis: 40%; flex-shrink: 1;}
        .dialog-container.cta .section2{order: 1; flex-basis: 50%; flex-shrink: 0}
        .dialog-container.cta .section1 {gap: 0;} 
        .dialog-container.cta .section1 img {width: 100%; aspect-ratio: 21 / 20; border-radius: 20px;}
        .cta .section2 .cta-button {padding: 12px 32px}
    /* Blog container */
    .blog {background: #FFFCF4; padding: 96px 0;}
        .blog .wrapper > h2 {margin-bottom: 16px;text-align: center; }
        .blog .wrapper > p {color: #696262; max-width: 448px; width: 100%; margin: 0 auto; text-align: center; }
        .card-list.newsfeed {margin: 55px 0 38px;}
        /* blog - card's modification */
            .newsfeed .card .desc * {margin-bottom: 12px;}
            .newsfeed .card .date-time {margin-left: 10px; font-size: 1.4rem; position: relative; display: flex; align-items: center;}
            .newsfeed .card .date-time::before {content: ''; display: block; position: absolute; left: -10px; width: 6px;height: 6px;background: var(--color-1); border-radius: 50%;}
            .newsfeed .card .hr {width: 50%;height: 1px;background: #E2DFDA; border-radius: 0.5px;}
        /* blog - scroll */
        .blog .scroll {justify-content: center;}